<div class="light-theme showcase-container">
  <div class="auto-grid">
    <h2>Material 3 components</h2>
    <div></div>
    <buttons></buttons>
    <buttons [theme]="'dark'"></buttons>
    <expansion-panel></expansion-panel>
    <expansion-panel [theme]="'dark'"></expansion-panel>
    <grid-list></grid-list>
    <grid-list [theme]="'dark'"></grid-list>
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <buttons-toggle></buttons-toggle>
      <buttons-toggle [theme]="'dark'"></buttons-toggle>
    </div>
  </div>
</div>
