<div class="light-theme showcase-container">
  <div class="auto-grid">
    <h2>Material 3 components</h2>
    <div></div>
    <h3>Light</h3>
    <h3>Dark</h3>
    <badge></badge>
    <badge [theme]="'dark'"></badge>
    <stepper></stepper>
    <stepper [theme]="'dark'"></stepper>
    <autocomplete></autocomplete>
    <autocomplete [theme]="'dark'"></autocomplete>
    <tabs></tabs>
    <tabs [theme]="'dark'"></tabs>
    <buttons></buttons>
    <buttons [theme]="'dark'"></buttons>
    <expansion-panel></expansion-panel>
    <expansion-panel [theme]="'dark'"></expansion-panel>
    <grid-list></grid-list>
    <grid-list [theme]="'dark'"></grid-list>
    <cards></cards>
    <cards [theme]="'dark'"></cards>
    <slider></slider>
    <slider [theme]="'dark'"></slider>
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <buttons-toggle></buttons-toggle>
    </div>
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <buttons-toggle [theme]="'dark'"></buttons-toggle>
    </div>
  </div>
</div>
