<div class="light-theme showcase-container">
  <toolbar></toolbar>
  <div class="auto-grid" id="components-grid">
    <chips [id]="componentsList.CHIPS"></chips>
    <chips [theme]="'dark'" [id]="componentsList.CHIPS"></chips>
    <checkboxes [id]="componentsList.CHECKBOX"></checkboxes>
    <checkboxes [theme]="'dark'" [id]="componentsList.CHECKBOX"></checkboxes>
    <bottom-sheet [id]="componentsList.BOTTOM_SHEET"></bottom-sheet>
    <bottom-sheet
      [theme]="'dark'"
      [id]="componentsList.BOTTOM_SHEET"
    ></bottom-sheet>
    <badge [id]="componentsList.BADGE"></badge>
    <badge [theme]="'dark'" [id]="componentsList.BADGE"></badge>
    <stepper [id]="componentsList.STEPPER"></stepper>
    <stepper [theme]="'dark'" [id]="componentsList.STEPPER"></stepper>
    <autocomplete [id]="componentsList.AUTOCOMPLETE"></autocomplete>
    <autocomplete
      [theme]="'dark'"
      [id]="componentsList.AUTOCOMPLETE"
    ></autocomplete>
    <tabs [id]="componentsList.TABS"></tabs>
    <tabs [theme]="'dark'" [id]="componentsList.TABS"></tabs>
    <buttons [id]="componentsList.BUTTON"></buttons>
    <buttons [theme]="'dark'" [id]="componentsList.BUTTON"></buttons>
    <expansion-panel [id]="componentsList.EXPANSION_PANEL"></expansion-panel>
    <expansion-panel
      [theme]="'dark'"
      [id]="componentsList.EXPANSION_PANEL"
    ></expansion-panel>
    <grid-list [id]="componentsList.GRID_LIST"></grid-list>
    <grid-list [theme]="'dark'" [id]="componentsList.GRID_LIST"></grid-list>
    <cards [id]="componentsList.CARD"></cards>
    <cards [theme]="'dark'" [id]="componentsList.CARD"></cards>
    <slider [id]="componentsList.SLIDER"></slider>
    <slider [theme]="'dark'" [id]="componentsList.SLIDER"></slider>
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <buttons-toggle [id]="componentsList.BUTTON_TOGGLE"></buttons-toggle>
    </div>
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <buttons-toggle
        [theme]="'dark'"
        [id]="componentsList.BUTTON_TOGGLE"
      ></buttons-toggle>
    </div>
  </div>
</div>
