// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
// Plus imports for other components in your app.

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-magenta-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-magenta-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

.light-theme {
  @include mat.all-component-themes($m3-light-theme);

  &.light {
    color: #303030;
    background-color: #f0ebf3f8;
  }
}

.dark-theme {
  @include mat.all-component-colors($m3-dark-theme);

  &.dark {
    color: #fcf7ff;
    background-color: #5c4c6479;
  }
}

/* Buttons */
.mat-mdc-button {
  --mdc-text-button-container-shape: 8px;
}
.mat-mdc-raised-button {
  --mdc-protected-button-container-shape: 8px;
}
.mat-mdc-outlined-button {
  --mdc-outlined-button-container-shape: 8px;
}
.mat-mdc-unelevated-button {
  --mdc-filled-button-container-shape: 8px;
}
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
.mat-mdc-icon-button {
  border-radius: 8px;
}
.mat-mdc-fab:not(.mdc-fab--extended),
.mat-mdc-fab:not(.mdc-fab--extended) .mdc-fab__ripple {
  --mdc-fab-container-shape: 8px;
}
.mat-mdc-mini-fab:not(.mdc-fab--extended) {
  --mdc-fab-small-container-shape: 8px;
}

/* Expansion Panel */
.mat-expansion-panel-header-description {
  justify-content: space-between;
}

/* Autocomplete */
div.mat-mdc-autocomplete-panel {
  --mat-autocomplete-background-color: rgb(248, 248, 248);
}
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  --mat-option-focus-state-layer-color: rgba(206, 206, 206, 0.562);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #141218;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
