// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
// Plus imports for other components in your app.

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-magenta-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-magenta-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* CUSTOM COLORS */
$black-1: #303030;
$black-2: #5c4c6479;
$white-1: #f0ebf3f8;
$white-2: #fcf7ff;

.light-theme {
  @include mat.all-component-themes($m3-light-theme);

  &.light {
    color: $black-1;
    background-color: $white-1;
  }
}

.dark-theme {
  @include mat.all-component-colors($m3-dark-theme);

  &.dark {
    color: $white-2;
    background-color: $black-2;
  }
}

/* Buttons */
.mat-mdc-button {
  --mdc-text-button-container-shape: 8px;
}
.mat-mdc-raised-button {
  --mdc-protected-button-container-shape: 8px;
}
.mat-mdc-outlined-button {
  --mdc-outlined-button-container-shape: 8px;
}
.mat-mdc-unelevated-button {
  --mdc-filled-button-container-shape: 8px;
}
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
.mat-mdc-icon-button {
  border-radius: 8px;
}
.mat-mdc-fab:not(.mdc-fab--extended),
.mat-mdc-fab:not(.mdc-fab--extended) .mdc-fab__ripple {
  --mdc-fab-container-shape: 8px;
}
.mat-mdc-mini-fab:not(.mdc-fab--extended) {
  --mdc-fab-small-container-shape: 8px;
}

/* Expansion Panel */
.mat-expansion-panel-header-description {
  justify-content: space-between;
}

/* Autocomplete */
div.mat-mdc-autocomplete-panel {
  --mat-autocomplete-background-color: #{$white-2};
}
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  --mat-option-focus-state-layer-color: rgba(206, 206, 206, 0.562);
}

/* Stepper */
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled="false"] {
  // --mat-stepper-header-hover-state-layer-color: rgba(255, 255, 255, 0);
  --mat-stepper-header-hover-state-layer-shape: 0.25rem;
}
.mat-horizontal-content-container {
  padding: 0.625rem !important;
}

/* Badge */
.mat-badge-large .mat-badge-content {
  --mat-badge-legacy-large-size-container-size: 1.75rem;
  --mat-badge-large-size-text-size: 14px;
}
.mat-badge-medium .mat-badge-content {
  --mat-badge-legacy-container-size: 1.375rem;
  --mat-badge-text-size: 12px;
  // margin: var(--mat-badge-container-offset);
}

/* Bottom Sheet */
.mat-bottom-sheet-container {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  padding: 0 !important;
  min-width: 100vw;
  box-sizing: border-box;
  display: block;
  outline: 0;
  max-height: 80vh;
  overflow: auto;
}

/* Toolbar */
.mat-toolbar {
  --mat-toolbar-container-background-color: #fa66c1;
  --mat-toolbar-container-text-color: white;

  border-radius: 0.25rem;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #141218;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
